body {
	margin: 0;
	padding: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 26px;
}

h2 {
	text-align: center;
	font-size: 22px;
}

.lang-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.lang-section > li {
	width: 20%;
	padding: 10px;
	border: 1px solid gray;
	list-style: none;
}

.lang-section > li h3 {
	text-align: center;
	font-size: 18px;
}

.lang-section > li ul {
	padding-left: 15px;
	list-style: initial;
} 

.lang-section > li h4 {
	margin: 20px 0 0 0;
	font-size: 16px;
	font-weight: normal;
}