* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 10px;
	background: #11151F;
	color: #1D83B5;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 26px;
}

h2 {
	text-align: center;
	font-size: 22px;
	color: #D5A325;
}

a {
	color: #B8BFCF;
	text-decoration: none;
}

.lang-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.topic-card {
	width: 24%;
	padding: 10px;
	background: #242A37;
	overflow: hidden;
}

.topic-card h3 {
	text-align: center;
	font-size: 18px;
}

.topic-card ul {
	padding-left: 15px;
	list-style: initial;
}

.topic-card li {
	padding: 10px 0;
}

.topic-card li:hover {
	position: relative;
	margin-left: -25px;
	margin-right: -10px;
	padding-left: 25px;
	list-style-type: none;
	background: #11151F;
	cursor: pointer;
}

.topic-card li:hover::before {
	content: '•';
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 20px;
}

.topic-card h4 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}